.App {
  text-align: center;
}

.buttonContainer{
  width: 500px;
  margin: auto;
  margin: auto;
}

.button {
  width: 100px;
  margin: 10px !important
}

.goButton {
  margin: 20px
}

.goButton > svg {
  margin: 0 10px;
}

.teamContainer {
  width: 50%
}